<style>
  .header{
    position: sticky;
  }
</style>
<div class ="header">
  <h1>Projects</h1>
  <%= link_to 'New Project', new_project_path, class:" card-link btn btn-primary" %>
</div>
<p id="notice"><%= notice %></p>
<br>
<div class= "table">
<table>
  <tbody>
    <% @projects.each_with_index do |project, i| %>
      <tr>
        <td>
          <div class="card" style="width: 75rem;">
            <div class="card-body">
              <%if i + 1 == 1 %>
                <h5 class="card-title"><%= i + 1 %>. Project name : <%= project.name %> <span class="badge bg-success">NEW!</span> </h5>
              <% elsif i + 1 == 2 %>
                <h5 class="card-title"><%= i + 1 %>. Project name : <%= project.name %> <span class="badge bg-primary">RECENT!</span> </h5>
              <% else %>
                <h5 class="card-title"><%= i + 1 %>. Project name : <%= project.name %> </h5>
              <% end %>
                <h6 class="card-subtitle mb-2 text-muted">Username : <%= project.user.username %></h6>
                <p class="card-text"><%= project.description %></p>
                <%= link_to 'Show Task', project, class:" card-link btn btn-primary"  %>
                <%= link_to 'Edit', edit_project_path(project),class:"card-link btn btn-success"  %>
                <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' },class:"card-link btn btn-danger"  %>

             </div>
             <div class="card-footer text-muted">
                 Project created : <%= project.created_at %>
              </div>
          </div>
      </tr>
    <% end %>
  </tbody>
</table>
</div>




